<div class="modal-header">
  <h4 class="modal-title">Alleen</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <app-player-input title="Speler" [(player)]="player"></app-player-input>
  <app-score-input title="Slagen" [(score)]="tricks" [positiveScore]="points.getPoints(gameType).tricks"></app-score-input>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Close click')">Sluit</button>
  <button type="button" class="btn btn-primary" [disabled]="player == undefined || tricks == undefined" (click)="addAndClose()">Voeg toe</button>
</div>
