<div class="mb-3">
  <label class="col-sm-2 col-form-label">{{title}}</label>
  <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="win">
    <label ngbButtonLabel class="btn-secondary">
      <input ngbButton class="btn-check" type="radio" [value]="WinLoseDnp.DidNotPlay"> Niet gespeeld
    </label>
    <label ngbButtonLabel class="btn-success">
      <input ngbButton class="btn-check" type="radio" [value]="WinLoseDnp.Win"> Winst
    </label>
    <label ngbButtonLabel class="btn-danger">
      <input ngbButton class="btn-check" type="radio" [value]="WinLoseDnp.Lose"> Verlies
    </label>
  </div>
</div>
