<div class="modal-header">
  <h5 class="modal-title">{{ gameName }}</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  @for (item of players.getPlayers(); track item; let i = $index) {
    <app-win-lose-dnp-input [title]="item" [(win)]="wins[i]"></app-win-lose-dnp-input>
  }
</div>
<div class="modal-footer">
  <button type="button" class="btn" (click)="activeModal.dismiss('Close click')">Annuleren</button>
  <button type="button" class="btn btn-primary ms-auto" [disabled]="!inputIsValid()" (click)="addAndClose()">
    Voeg toe
  </button>
</div>
