<div class="modal-header">
  <h5 class="modal-title">Passpel</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <div class="alert" [class.alert-danger]="scoreSum() != 13" [class.alert-success]="scoreSum() == 13" role="alert">
    <strong>Totaal: </strong> {{ scoreSum() }}
  </div>
  @for (player of players; track player; let i = $index) {
  <app-score-input [title]="player" [(score)]="scores[i]"></app-score-input>
  }
</div>
<div class="modal-footer">
  <button type="button" class="btn" (click)="activeModal.dismiss('Close click')">Annuleren</button>
  <button type="button" class="btn btn-primary ms-auto" [disabled]="scoreSum() != 13" (click)="addAndClose()">
    Voeg toe
  </button>
</div>