<div class="modal-header">
  <h4 class="modal-title">Passpel</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <app-score-input *ngFor="let player of players; let i = index" [title]="player" [(score)]="scores[i]"></app-score-input>
  {{scores}}
  <button type="button" class="btn btn-outline-dark" (click)="add()">Add</button>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Sluit</button>
</div>
