<div class="mb-3">
  <label class="col-sm-2 col-form-label">{{ title }}</label>
  <div class="btn-group" role="group">
    <ng-container *ngFor="let player of playersList; let i = index; trackBy: trackByIndex">
      <input 
        [id]="inputId + '-' + i" 
        class="btn-check" 
        [name]="inputId" 
        type="radio" 
        [value]="i + 1" 
        [formControl]="playerControl"
        [attr.disabled]="disablePlayer === i + 1 ? true : null">
      <label [for]="inputId + '-' + i" class="btn btn-outline-primary">
        {{ player }}
      </label>
    </ng-container>
  </div>
</div>
