<nav class="navbar navbar-fixed-top navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="#">Wiezen</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button class="btn btn-link nav-link">Nieuw spel</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-link nav-link" (click)="openChangeNames()">Wijzig spelers</button>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="https://isaacmeers.be">By: Isaac Meers</a>
      </li>
    </ul>
  </div>
</nav>
