<div class="card">
  <ul class="list-group list-group-flush">
    <button type="button" class="list-group-item list-group-item-action">Solo slim</button>
    <button type="button" class="list-group-item list-group-item-action">Solo</button>
    <button type="button" class="list-group-item list-group-item-action">Open Miserie</button>
    <button type="button" class="list-group-item list-group-item-action">Troel</button>
    <button type="button" class="list-group-item list-group-item-action">Abondance 12</button>
    <button type="button" class="list-group-item list-group-item-action">Abondance 11</button>
    <button type="button" class="list-group-item list-group-item-action">Miserie</button>
    <button type="button" class="list-group-item list-group-item-action">Abondance 10</button>
    <button type="button" class="list-group-item list-group-item-action">Abondance 9</button>
    <button type="button" class="list-group-item list-group-item-action">Vraag en mee</button>
    <button type="button" class="list-group-item list-group-item-action">Alleen</button>
    <button type="button" class="list-group-item list-group-item-action" (click)="openPassing()">Passpel</button>

  </ul>
</div>
