  <ul class="list-group">
    <button type="button" class="list-group-item list-group-item-action" (click)="openAbondance(GameTypes.SoloSlim)">Solo slim</button>
    <button type="button" class="list-group-item list-group-item-action" (click)="openAbondance(GameTypes.Solo)">Solo</button>
    <button type="button" class="list-group-item list-group-item-action" (click)="openMisery(GameTypes.OpenMisery)">Open Miserie</button>
    <button type="button" class="list-group-item list-group-item-action" (click)="openTrull()">Troel</button>
    <button type="button" class="list-group-item list-group-item-action" (click)="openAbondance(GameTypes.Abondance12)">Abondance 12</button>
    <button type="button" class="list-group-item list-group-item-action" (click)="openAbondance(GameTypes.Abondance11)">Abondance 11</button>
    <button type="button" class="list-group-item list-group-item-action" (click)="openMisery(GameTypes.Misery)">Miserie</button>
    <button type="button" class="list-group-item list-group-item-action" (click)="openAbondance(GameTypes.Abondance10)">Abondance 10</button>
    <button type="button" class="list-group-item list-group-item-action" (click)="openAbondance(GameTypes.Abondance9)">Abondance 9</button>
    <button type="button" class="list-group-item list-group-item-action" (click)="openAskingAndJoining()">Vraag en mee</button>
    <button type="button" class="list-group-item list-group-item-action" (click)="openAlone()">Alleen</button>
    <button type="button" class="list-group-item list-group-item-action" (click)="openPassing()">Passpel</button>

  </ul>
